body {
  min-height: 2000px;
  padding-top: 70px;
}

li {
	 display: inline-block;
}

li > a {
	padding-right: 0;
  	padding-left: 0;
  	font-size: 16px;
  	font-weight: bold;
  	color: #4f4647;
  	border-bottom: 2px solid transparent;
}

li > a:hover,
li > a:focus {
  color: #4f4647;
  border-bottom-color: #4f4647;
  background-color: transparent;
}